* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body{
  background-image: 
  linear-gradient(45deg, #cdcdfe 0%, #ceffff 16%, #ceffce 39%, #ffffb3 63%, #fecbcb 85%, #ffceff 100%);
  line-height: 1;
}
main {
  min-height: calx(100vh - 70px);
  overflow: hidden;
  display: block;
}
#showcase {
  background-color: #ceffce8f;
  width: 100%;
  position: relative;
  
}

.container_main{
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.container_logo {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, #cdcdfe 0%, #ceffff 16%, #ceffce 39%, #ffffb3 63%, #fecbcb 85%, #ffceff 100%);
  position: relative;
}
.logo {
  margin: -200px 0 0 -300px; 
  position: absolute;
  top: 50%;       
  left: 50%;      
}

.logo img {
  margin-bottom: 76px; 

}
.visual{
  width: 550px;
  height: 50px;
  background: #FFFFFF;
  border: 3px solid #414162;
  box-sizing: border-box;
  border-radius: 0px 20px;
  padding-top: 15px;
 
}
.visual p {
  color: #414162;
  font-weight: bold;
  letter-spacing: 0.04em;
  font-style: italic;
}

.slick-prev {
  display: none;
  }
.hamburger-menu {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 3px 7.65px 1.35px rgba(82,82,82,0.27);
    top: 15px;
    right: 20px;
    background-color: white;
    position: fixed;
    z-index: 100;
    cursor: pointer;
    
}

.hamburger-menu:hover {
  background-color:black;
}

.hamburger-menu p:hover {
  color: white;
}

.hamburger-menu p{
  font-size: 18px;
    font-style: italic;
    font-weight: bold;
    padding: 31px 0;
    text-align: center;
    color:black ;
}

.change .line{
  content:' ';
  width:53px;
  height:53px;
  display:block;
  background-color: black;
  background-image: url(../img/close.png);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

.navbar {
  width: 370px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-style: italic;
  font-weight: bold;
  right: -400px;
  transition: right 0.3s ;
  padding: 40px;
  z-index: 2;
  text-align: center;
}
.change {
  right: 0;
}
.global-nav__list{
  list-style: none;
  text-align: center;
  display: block;

}

.global-nav__item{
  margin-bottom: 30px;
  display: list-item;

}

.global-nav__item a {
    text-decoration: none;
    display: inline-block;
    font-size: 42px;
    color: black;
    font-weight: bold;
    font-style: italic;
    padding: 9px 15px 11px;
}


.global-nav__list li:nth-child(1) a:nth-child(1) {
  background-color:black;
  width: 100%;
  color: white;  
}
.global-nav__list li:nth-child(2):hover a:nth-child(1) {
  background-color:#CDCDFE;
  width: 100%;
}
.global-nav__list li:nth-child(3):hover a:nth-child(1) {
  background-color:#BCF2BC;
  width: 100%;
}
.global-nav__list li:nth-child(4):hover a:nth-child(1) {
  background-color:#F9F06B;
  width: 100%;
}
.global-nav__list li:nth-child(5):hover a:nth-child(1) {
  background-color:#FECBCB;
  width: 100%;
}
.global-nav__list li:nth-child(6):hover a:nth-child(1) {
  background-color:#FFCEFF;
  width: 100%;
}

.sns-list{
  display: flex;
  justify-content: space-between;

  width: 110px;
  text-align: center;
}

.sns-item{
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
}

.sns-item a:hover {
  background-color: black;
}

.sns-item a {
  display: block;
  width:100%;
  height: 100%;
  box-shadow: 0px 3px 7.65px 1.35px rgba(82,82,82,0.27);
  background-color: white;
  border-radius: 50%;
  padding:10px;
}

.policy {
  margin-top: 20px;
  width: 100%;
}

.policy a {
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 0.04em;
  text-align: center;
  font-weight: bold;
  padding: 9px 15px 11px;
  color: black;
  
}

.policy a:hover{
  background-color: black;
  color:white;
}

.sns-list_content {
  width: 44px;
    height: 100px;
    position: fixed;
    bottom: 50px;
    right: 18px;
    z-index: 1;
}

#mission.top_mission {
  width: 1050px;
  height: auto;
  margin: 10px auto 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}
.left_box{
  width: 333px;
  height: 551px;
  text-align: center;
  background-color: #BEF7F7;
  position: relative;
  margin-right: 10px;
}

.left_box p {
  font-size: 70px;
  letter-spacing: 0.04rem;
  height: 92px;
  padding: 11px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
}
.right_box {
  width: 692px;
  height: 100%;
  margin-left: 30px;
}
.top_right_mission {
  background-color: #BEF7F7;
  width: 100%;
  height: 252px;
  position: relative;
  margin-bottom: 25px;
  
}
.top_right_mission img{
  position: absolute;
  top: 16px;
  left: 36px;
  z-index: 3;
  background-color: #FFFFFF;
  border-radius: 0px 20px;
}
.bottom_mission{
  display: flex;
  width: 100%;
  height: 252px;
  
}

.detail {
  width: 500px;
  height: 252px;
  background-color: #bef7f7;
  margin-right: 30px;
  padding: 10px 10px;
}

.detail h1{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 18px;
  letter-spacing: -0.02em;
  font-style: italic;
}

.detail h2 {
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: -0.02em;
  font-style: italic;
  text-align: justify;
  font-weight: normal;
}

.box{
  width: 160px;
  height: 252px;
  background-color: #bef7f7;
}



#about.top_about {
  
  width: 1050px;
  height: auto;
  margin: 10px auto 80px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: black;
}

.left_box_about{
  width: 692px;
  height: 100%;
  text-align: center;
  
}

.detail_about{
  width: 100%;
  height: 153px;
  background-color: #cdcdfe;
  padding: 25px 30px;
  margin-bottom: 25px;
}

.detail_about p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.625rem;
  letter-spacing: -0.02em;
  font-style: italic;
}

.bottom_about{
  background-color: #cdcdfe;
  padding: 25px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.right_box_about{
  width: 333px;
  text-align: center;
  background-image: url(../img/bg_circle.png);
  background-size: 24%;
}


.right_box_about p {
  background-color:#cdcdfe;
  font-size: 70px;
  letter-spacing: 0.04rem;
  height: 92px;
  padding: 11px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
}
.item_about{
  width: calc((100% - 25px) / 2);
    height: 300px;
    background-color: #fff;
    border-radius: 0 30px 0 30px;
    text-align: center;
    margin-bottom: 30px;
}
.image_about{
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 218px;
  padding-top: 40px;
}
.en {
  font-size: 22px;
  color: #f4bbca;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 14px;
}
.ja{
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}
.link_box_about{
  display: inline-block;
  border-radius: 0 20px 0 20px;
  padding: 10px 78px;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  border: 2px solid #414162;
  cursor: pointer;
  transition: 0.4s;
  
}

.link_box_about a {
  display: inline-block;
  text-decoration: none;
  color: black;
  transition: 0.4s;
}


.link_box_about:hover{
  border-radius: 20px 0 20px 0;
  background-color:#414162 ;
  color:white;
  transition: 0.4s;
}

.link_box_about a:hover{
  color:white;
}


.top_talent{
  width: 1050px;
  height: auto;
  margin: 0 auto 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

.left_box_talent{
  
  width: 333px;
  
  text-align: center;
  background-image: url(../img/bg_star.png);
  background-size: 20%;
}
.left_box_talent p {
  background-color: #bcf2bc;
  font-size: 70px;
  letter-spacing: 0.04rem;
  height: 92px;
  padding: 11px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
}
.talent_list{
  width: 632px;
  height: 632px;
  padding:30px;
  background-color:#bcf2bc;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.talent_list_artists{
  width: calc((100% - 62px) / 3);
  height: 190px;
  padding-bottom: 30px;
}

.talent_list_artists a {
  display: block;
  width: 100%;
  height: 100%;
  background-position:center;
  background-size: cover;
  border-radius: 0 20px 0 20px;
  position: relative;
  
}


.talent_list_artists a:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
}

.talent_list_artists a:hover .artists_name  {
  opacity: 1;
  background-color: rgba(0,0,0,0.25);
}

.artists_name{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 0.04em;
  font-weight: bold;
  font-style: italic;
  opacity:0;
}





.right_box_talent{
  text-align: center;
}

.top_works {
  flex-direction: row-reverse;
  width:1050px;
  margin: 0 auto 60px;
  display: flex;
  justify-content: space-between;
  color: #3d3b18;
}

.right_box_works{
  background-image: url(../img/bg_circle2.png);
  background-size: 25%;
  width:333px;
  text-align: center;
  position: relative;
}
.right_box_works p {
  background-color: #f9f06b;
  font-size: 70px;
  letter-spacing: 0.04rem;
  height: 92px;
  padding:11px 0 ;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
}

.left_box_works{
  width: 692px;
  text-align: center;
}
.detail_works{
  width: 100%;
  height: 77px;
  background-color: #f9f06b;
  padding:28px 0;
  margin-bottom: 30px;
}
.detail_works p {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.04rem;
  font-style: italic;
}

.works_main_lists{
  list-style: none;
}

.works_main_lists_item{
  background-color: #f9f06b;
  padding: 30px;
  margin-bottom: 30px;
}

.small_box_works{
  background-color: #FFF;
  border-radius: 0 30px 0 30px;
  padding: 30px 70px;
}
.works_images_container{
  display: flex;
  justify-content: space-between;
}
.works_images{
  width: calc((100% - 40px) / 3);
  height: 150px;
  border-radius: 0 30px 0 30px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.works_images a {
 
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 0 20px 0 20px;
  position: relative;
  
  
}
.works_images_detail {
display: inline-block;
text-align: center;
cursor: pointer;
transition: 0.4s;
justify-content: center;
align-items: center;
margin-top: 20px;
}
.works_images_detail p {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.04em;
  font-weight: bold;
  font-style: italic;
  padding: 12px 20px;
  border: 1px solid #fff;
  border-radius: 0 10px 0 10px;
  max-width: calc(100% - 14px);
  opacity: 0;
}



.works_images a:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
 
}

.works_images a:hover .works_images_detail p {
  opacity: 1;
  background-color:  rgba(0,0,0,0.50);
}

.title_works{
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.04rem;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 16px;
}
.subtitle_works{
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.625em;
  margin-bottom: 14px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.left_box_news{
  background-image: url(../img/bg_square.png);
  background-size: 24%;
  width: 333px;
  text-align: center;
  position: relative; 
}
.left_box_news p {
  background-color: #Fecbcb;
  font-size: 70px;
  letter-spacing: 0.04em;
  height: 92px;
  padding: 11px 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-weight: bold;
}

.right_box_news{
  width:692px;
  text-align: center;
}
.top_right_news{
  background-color: #Fecbcb;
  padding:30px;
  flex-wrap:wrap;
  margin-bottom:30px;
  display: flex;
  
}
.news_list_articles{
  width:calc((100% - 30px) / 2);
  height: auto;
  margin-right: 10px;
}



.news_list_articles:nth-child(1),
.news_list_articles:nth-child(2) {
  margin-bottom:24px;
}

.news_list_articles a {
  display: block;
  width:100%;
  height: 384px;
  background-size: cover;
  background-position: center;
  padding: 169px 0 0;
  border-radius: 0 30px 0 30px;
  text-decoration: none;
}
.news_name{
  color: white;
  padding:95px 24px 26px;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.26) 26%, rgba(0,0,0,0.53) 100%);
  border-radius: 0 0 0 30px;
}

.news_name_detail {
  font-size: 15px;
  line-height: 1.625em;
  margin-bottom: 18px;
  text-align: justify;
  min-height: 52px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-weight: bold;
}
.news_name_date_company {
  display: flex;
  flex-direction: row;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-weight: bold;
}

.news_name_date_company_company {
  background-color: #cdcdfe;
  padding: 4px 8px 8px;
  font-style: italic;
  font-weight: bold;
  line-height: 0.8em;

}
.news_name_date_company_date {
  margin-left:15px;
  padding: 4px 8px 8px;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  line-height: 0.8em;
}


.top_contact {
  flex-direction: row-reverse;
  width:1050px;
  height: 400px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  color:#3f343f;
 
}

.left_box_contact{
  width: 505px;
  text-align: center;
}

.detail_contact{
  padding: 25px 0;
  text-align: center;
  background-color: #ffceff;
  margin-bottom: 62px;
}
.detail_contact p {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  line-height: 1.6em;
}
.right_box_contact {
  width: 505px;
  text-align: center;
  background-image: url(../img/bg_star2.png);
  background-size: 14%;
}

.right_box_contact p {
  background-color: #ffceff;
  font-size: 70px;
    letter-spacing: 0.04em;
    height: 92px;
    padding: 11px 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    font-weight: bold;
}

footer{
  width: 100%;
  height: 70px;
  background: #FFF;
  text-align: center;
  padding: 30px 0 26px;
}

footer p {
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
}


@media screen and (max-width: 800px) {
  main {
    min-height: calc(100vh - 102px);
  }
  #showcase{
    overflow: hidden;
  }
  .container_main {
    padding: 16px 15px;
  }
  #mission.top_mission {
    width: 100%;
    margin: 15px auto 30px;
    padding: 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  
  
  .left_box {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .right_box .top_right_mission{
    width: 100%;
    
  }
  .bottom_mission .detail {
    width: 100%;
    text-align: center;
  }

  .box{
    display: none;
  }

  #about.top_about {
    width: 100%;
    margin: 15px auto 30px;
    padding: 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .right_box_about {
    width: 100%;
    margin-bottom: 30px;
  }
  .left_box_about{
    width: 100%;
  }

  #TALENT.top_talent {
    width: 100%;
    margin: 15px auto 30px;
    padding: 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
.left_box_talent{
    width:100%
}
.right_box_talent{
  width:100%;
  margin-left: 50px;
  margin-top: 30px
}
#works.top_works {
  width: 100%;
 
  padding: 0 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.right_box_works {
  width: 100%;
  margin-bottom: 30px;
}
.left_box_works {
  margin-left: 30px;
}
#NEWS.top_talent {
  width: 100%;
  padding: 0 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.left_box_news{
  width:100%;
  margin-bottom: 30px;
}
.right_box_news{
  margin-left: 30px;
}

#contact {
  width: 100%;
  margin: 15px auto 30px;
  padding: 0 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-bottom: 150px;
}
.right_box_contact {
  width: 100%;
  margin-bottom: 30px;
}
.left_box_contact {
  width: 100%;
}
}

